@import 'variables.css';

:root {
  --fontFamily-common-01: Georgia, 'Times New Roman', Times, serif;
}

body {
  font-family: var(--fontFamily-common-01);
  font-size: var(--size-18);
  line-height: 1.4;
}

header,
footer {
  padding: var(--size-20);
  background-color: var(--color-gray-06);
  border-top: 1px solid var(--color-gray-05);
  border-bottom: 1px solid var(--color-gray-05);
}

header {
  box-shadow: 0 0 10px 0 var(--color-gray-02);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--size-10);
}

.main {
  border-left: var(--size-01) solid var(--color-gray-05);
  border-right: var(--size-01) solid var(--color-gray-05);
  max-width: var(--size-1000);
  margin: 0 auto;
  padding: var(--size-20);
}

p {
  margin-bottom: var(--size-10);
}

.photo {
  float: left;
  width: 20%;
  margin-right: var(--size-20);
  margin-bottom: var(--size-10);
}